<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceAssembly" value="Lyh.Wcf.Services"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Lyh.Wcf.Services.UserService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6013/"/>
          </baseAddresses>
        </host>
        <endpoint address="UserService" binding="wsHttpBinding" contract="Lyh.Wcf.Contracts.IUserContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
