<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="properties.config"/>
  
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<database>
		<provider name="sqlServer1.1"/>
		<dataSource name="Database" connectionString="server=${server};database=${database};uid=${uid};pwd=${pwd};timeout=${timeout}"/>
	</database>

	<sqlMaps>
    <sqlMap resource="Maps/User.xml"/>
	</sqlMaps>

</sqlMapConfig>